.logo-container {
  position: absolute;
  width: 400px;
  height: 609px;
  top: 0;
  left: auto;
  bottom: 0;
  right: 15%;
  margin: auto;
  z-index: 0;
  opacity: 0;

  svg {
    width: 100%;
    height: auto;
    bottom: 0;
    transform: rotateZ(30deg) !important;
  }

  .solid-logo {
    position: absolute;
    width: 100%;
    top: auto;
    bottom: auto;
    left: 0;
    right: auto;
    margin: auto;
    opacity: 0;
    transform: rotateZ(30deg);
    z-index: 1;
  }
}

.svg-container {
  stroke: #ffd700;
  stroke-width: 10px;
}
