.page {
  position: absolute;
  width: 100%;
  height: 100%;
}

.top-tags {
  top: 35px;
  bottom: auto;
}

.tags {
  position: absolute;
  left: 120px;
  bottom: 0;
  font-size: 18px;
  font-family: 'La Belle Aurore';
  color: #ffd700;
  opacity: 0.6;
}

.bottom-tag-html {
  margin-left: -20px;
}

.container {
  position: absolute;
  width: 100%;
  height: 90%;
  min-height: 566px;
  top: 5%;
  margin: 0 auto;
  opacity: 0;
  z-index: 1;
  will-change: contents;
  transform-style: preserve-3d;
  animation: fadeIn 1s forwards;
  animation-delay: 1s;
}

.about-page,
.contact-page {
  .text-zone {
    position: absolute;
    width: 35%;
    max-height: 90%;
    top: 50%;
    left: 10%;
    display: table-cell;
    vertical-align: middle;
    transform: translateY(-50%);

    h1 {
      position: relative;
      left: -10px;
      margin-top: 0;
      margin-bottom: 40px;
      font-size: 53px;
      font-family: 'Coolvetica';
      font-weight: 400;
      color: #ffd700;

      &::before {
        content: '<h1>';
        position: absolute;
        left: -10px;
        margin-top: -10px;
        font-size: 18px;
        line-height: 18px;
        font-family: 'La Belle Aurore';
        opacity: 0.6;
      }

      &::after {
        content: '</h1>';
        position: absolute;
        left: -30px;
        bottom: -20px;
        margin-left: 20px;
        font-size: 18px;
        line-height: 18px;
        font-family: 'La Belle Aurore';
        opacity: 0.6;
      }
    }

    p {
      min-width: fit-content;
      font-size: 13px;
      font-weight: 300;
      font-family: sans-serif;
      color: #fff;
      animation: pulse 1s;

      &:nth-of-type(1) {
        animation-delay: 1.1s;
      }

      &:nth-of-type(2) {
        animation-delay: 1.2s;
      }

      &:nth-of-type(3) {
        animation-delay: 1.3s;
      }
    }
  }

  .text-animate-hover {
    &:hover {
      color: #fff;
    }
  }
}
