.page {
  position: absolute;
  width: 100%;
  height: 100%;
}

.top-tags {
  top: 35px;
  bottom: auto;
}

.tags {
  position: absolute;
  left: 120px;
  bottom: 0;
  font-size: 18px;
  font-family: 'La Belle Aurore';
  color: #ffd700;
  opacity: 0.6;
}

.bottom-tag-html {
  margin-left: -20px;
}
